.select {
    font-family: 'Lato';
    font-size: 15px;    
    border-radius: 5px;
    border-color: black;
    padding: 5px 10px;
    padding: 0.8rem;
    margin: 0 0 1rem;
}

.select:focus {
    outline: none;
    border-color: #00A2BA;
    box-shadow: 0 0 10px black;
}
