.form {
    margin-bottom: 500px;
}
.form__title {
    margin: 2rem;
    text-align: center;
    color: #00A2BA;
}
.form__text{
    font-size: 16px;
    margin: 2rem;
    text-align: center;
}


.complaint__firstForm, .complaint__secondForm, .complaint__submitForm {
    background-image: url('../../Images/background-pattern2.jpg');
    min-height: 90vh;
}