.header__banner {
  background: url("../../Images/banner-2.jpg");
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 79%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 75%, 0 100%, 0 0);
  min-height: 90vh;
  height: 660px;
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__banner-title {
  font-family: 'Lato';
  font-size: 50px;
  color: rgba(255, 255, 255, .9);
  margin: 10px 150px;
  text-transform: uppercase;
  font-weight: 100;
  }
  
  @media (max-width: 1024px) {
    .header__banner-title {
      font-size: 45px;
    }
  }
  
  @media (max-width: 850px) {
    .header__banner-title {
      font-size: 30px;
    }
  }
  
  .header__banner-subtitle {
    color: white;
    font-size: 25px;
    line-height: 30px;
    margin: 10px 150px;
  }
  
  @media (max-width: 850px) {
    .header__banner-subtitle {
      font-size: 18px;
    }
  }

.section__title {
  text-align: center;
}

.about__info {
  display: flex;
  background-color: gray;
}

.about__data-boxes {
  background-color: silver;
}


.about__data-boxes {
  display: flex;
  align-content: center;
  margin-bottom: 1px solid blue;
  
}