.menu__list {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu__list-item {
    text-transform: uppercase;
    color: #96858F;
    padding: 1rem 1rem;
    margin: 0 auto;
}

