.menu__list {
    display: flex;
    font-family: monospace;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

.menu__list-item {
    text-transform: uppercase;
    color: white;
    padding: 1rem 1rem;
    margin: 0 auto;
}
