.navbar {
    background: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.navbar__logo {
    display: block;
    width: 200px;
}


@media (min-width: 992px) {
    .navbar {
        padding: 0 10%;
    }
}

