.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 1rem;
    background: #ffffff;
    border-bottom: 2px solid #d4dadf;
    box-shadow: 0 2px 2px 0 #f0f1f4;
    background-color: #ABC8C0;
}

.navbar__logo {
    display: block;
    width: 200px;
}


@media (min-width: 992px) {
    .navbar {
        padding: 0 10%;
    }
}

