.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 1rem;
    background: #ffffff;
    border-bottom: 2px solid silver;
    box-shadow: 0 1px 1px 0 #ffff;
    background-color: #ABC8C0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.navbar__logo {
    display: block;
    width: 200px;
}


@media (min-width: 992px) {
    .navbar {
        padding: 0 10%;
    }
}

