.footer {
    display: flex;
    background: url("../../Images/footer.png");
    text-decoration: none;
    list-style: none;
    height: 400px;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
  .footer__socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    text-decoration: none;
    list-style: none;
    color: #00CCAD;
  }
  
  .footer__twitter,
  .footer__facebook {
    opacity: 0.5;
    margin: 0 10px;
  }
  
  .footer__twitter:hover,
  .footer__facebook:hover {
    opacity: 1;
  }