/* css var colors */

:root{
--navbar:black;
--navbar-menu-items:black;
--footer-grey: #3C3C3B;
--font-grey: #575756;
--background-grey:#F6F6F6;
--partners-yellow: #FDD326;
--primary-green: #60AB3E;
--brigade-red: #BD1819;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
