.textarea {
    font-family: 'Lato';
    font-size: 1rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 1rem;
    margin: 0 0 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.textarea:focus {
    outline: none;
    border-color: #00A2BA;
    box-shadow: 0 0 10px black;
}



