.header__banner {
    background-image: url("../../Images/banner-1.jpg");
    min-height: 90vh;
    height: 660px;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.header__banner-img {
    width: 100%;
}

